# No whitespace after the comma or in your part name!
config SHIELD_ERGO68_LEFT
    def_bool $(shields_list_contains,ergo68_left)

# No whitespace after the comma or in your part name!
config SHIELD_ERGO68_RIGHT
    def_bool $(shields_list_contains,ergo68_right)